[include]
    path = ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore
    editor = vim
[push]
    default = simple

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

