[include]
    path = ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore
    editor = vim
[push]
    default = simple

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[alias]
    graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

