"*":
  core:
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    fontFamily: "\"Migu 1M\""
    fontSize: 11
    invisibles:
      eol: " "
    lineHeight: 1.2
    showInvisibles: true
  "exception-reporting":
    userId: "aa9ebdd0-9e50-1a98-28de-4ab5a3043845"
  welcome:
    showOnStartup: false
  "multi-wrap-guide":
    columns: [
      80
      100
      120
    ]
