"*":
  "autocomplete-ruby":
    rsensePath: "~/.anyenv/envs/rbenv/shims/rsense"
  core:
    disabledPackages: [
      "wrap-guide"
      "spell-check"
      "autocomplete-go"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontFamily: "\"Migu 1M\""
    fontSize: 11
    invisibles:
      eol: " "
    lineHeight: 1.2
    showInvisibles: true
  "exception-reporting":
    userId: "aa9ebdd0-9e50-1a98-28de-4ab5a3043845"
  linter:
    errorPanelHeight: 84
  "linter-eslint": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "multi-wrap-guide":
    columns: [
      80
      100
      120
    ]
    locked: true
  "spell-check": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
