packages: [
  "color-picker"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "japanese-menu"
  "minimap"
  "minimap-highlight-selected"
  "multi-wrap-guide"
  "package-sync"
  "pigments"
  "project-manager"
  "show-ideographic-space"
  "trailing-spaces"
]
